<!DOCTYPE html>
<html lang="en-US">

	<head>
		<link rel="stylesheet" type="text/css" href="game.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="game.module.js"></script>
		<script src="utility.js"></script>
		<script src="land.js"></script>
		<script src="secureLand.js"></script>
		<script src="minedLand.js"></script>
		


		<script src="game.factory.js"></script>
		<script src="game.controller.js"></script>

	</head>

	<body ng-app="mineswepper" ng-controller = 'gameController'>
		<div  ng-repeat="rows in map">
			<div ng-repeat="land in rows" style="display: inline-block;padding: 2px;">
				<div ng-class="{undiscovered:!land.isDiscovered,secureLand:(land.isDiscovered && !land.isMined),mineLand:(land.isDiscovered && land.isMined)}" ng-click="land.explore(); explode(land);" >
					<span ng-if="land.number > 0" style="position: absolute; padding: 17px;">{{land.number}}</span>
				</div>
			</div>
		</div>

	</body>

</html>